.introduction{
  max-width: 1200px;
  padding: 2.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  align-items: center;
}

.introduction h1{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 2rem;
  position: relative;
}

.introduction h1::before{
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -40px;
  width: 130px;
  height: 100px;
  background: url('../img/detalhe.svg') no-repeat center;
  z-index: -1;
}

.introduction p{
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px){
  .introduction h1{
    font-size: 3rem;
  }
}

@media (max-width: 800px){
  .introduction{
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
   .introduction h1{
    font-size: 2rem;
  }

  .introduction h1::before{
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px){
  .introduction img{
    display: none;
  }

  .introduction{
    grid-template-columns: 1fr;
  }
}