.training{
  background: #141414;
}

.training-container{
  max-width: 1200px;
  padding: 7.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  position: relative;
}

.training-container::after{
  content: "";
  position: absolute;
  display: block;
  width: 130px;
  height: 100px;
  background: url('../img/detalhe.svg') no-repeat center;
  bottom: -50px;
  left: 20px;
}

.training .subtitle{
  color: #000;
  max-width: 5ch;
}

.training-text{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 3.75rem;
  color: #a3a3a3;
}

.training-text strong{
  color: #fff;
}

.colleges-list{
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
}

.college{
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #000;
  padding: 1.25rem;
}

.college-type{
  font-size: 0.875rem;
  color: #a3a3a3;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.college-curse{
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
  position: relative;
  color: #fff;
}

.college-curse::before{
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  left: -24px;
  background: linear-gradient(#b6f829, #67dd0a);
}

.college-name{
  font-size: 1.125rem;
  color:#a3a3a3;
}

.courses{
  margin-bottom: 3.75rem;
}

.courses li{
  display: flex;
  justify-content: space-between;
}

.training-extra h3, .languages-list h3{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  position: relative;
}

.training-extra li, .languages-list li{
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}

.training-extra span, .languages-list span{
  color: #8f8f8f;
}

.training-extra h3::before, .languages-list h3::before{
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.courses h3::before{
  background: url('../img/cursos.svg') no-repeat center center;
}

.languages h3::before{
  background: url('../img/idiomas.svg') no-repeat center center;
}

@media (max-width: 800px) {
  .training-container{
    padding: 3.75rem 1.25rem;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  
  .training .subtitle{
    color: #fff;
  }

  .training-text{
    font-size: 1.125rem;
  }

  .training-extra h3::before, .languages-list h3::before{
    position: static;
    margin-bottom: 0.625rem;
  }
}